.nav {
    --bs-nav-link-color: #6c757d;
    --bs-nav-link-hover-color: darkgrey;
    --bs-nav-link-disabled-color: #6c757d;
    
}
.body {
    background-color: white;
}

.pangasinan1 img{
    border-radius: 20px;
    max-height: 340px;
    width: 100%;
}
.pangasinan2 img {
    border-radius: 20px;
    max-height: 400px;
    width: 100%;
}
.pangasinan3 img {
    border-radius: 20px;
    max-height: 350px;
    width: 100%;
}
.pangasinan4 img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
}
.pangasinan5 img {
    border-radius: 20px;
    max-height: 345px;
    width: 100%;
}
.pangasinan6 img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
}
.pangasinan7 img {
    border-radius: 20px;
    max-height: 250px;
    width: 100%;
}
.pangasinan8 img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
}
.pangasinan9 img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
}
.pangasinan10 img {
    border-radius: 20px;
    max-height: 400px;
    width: 100%;
}
.pangasinan11 img {
    border-radius: 20px;
    max-height: 330px;
    width: 100%;
}
.pangasinan12 img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
}
.pangasinan13 img {
    border-radius: 20px;
    max-height: 350px;
    width: 100%;
}
.pangasinan14 img {
    border-radius: 20px;
    max-height: 300px;
    width: 100%;
}


.info p {
    text-align: justify;
}
